main {
    background-image: url(../img/bane-til-mockup4-web.png);
    height:100vh;
}

#angreb {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 150px;
}

#midtbane {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 64px;
}

#forsvar {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 54px;
}

#maalmand {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 42px;
}

.spiller {
    width: 64px;
    margin: 0px 8px;
}

.spiller img {
    width: 100%;
}

#bund-knapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 42px;
}

.bundknap {
    margin: 0 20px;
}

#forsvarvalgt {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}


#maalmandvalgt {
display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 28px
}


#placering {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 54px;
    background-color: white;
}

#placering h2 {
    margin-left:15px;
    font-size: 20px;
}

#placering a {
    margin-right: 15px;
}

.spiller p {
    color: white;
    text-shadow:1px 1px black;
    font-size: 12px;
}

#holdvalgt {
    background-image: url(../img/bane-til-mockup6-web.png);
    width: 375px;
    height: 675px;  
}