*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Bahnschrift", sans-serif;
}

body{
    height:100vh;
    line-height: 1.5;
    font-size:16px;
    color:white;
    background-color:black;
}

#wrapper{
    margin:0 auto;
    border:solid;
    height:740px;
    width:360px;
    background-image: radial-gradient(#cc222a, #b31e25);
    padding:1em;
}



#figureWrapper{
    display:flex;
    justify-content: center;
}

#logo{
    width:50%;

}

#logo img{
    width:100%;
}

h2{
    text-align: center;
    font-size:1.25em;
    width:50%;
    margin:0 auto;
}

p{
    padding-left:2em;
    padding-right:2em;
    padding-top:0.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.9em;
    line-height:2.1;
}

p:nth-of-type(1){
padding-top:2.5em;
}



#buttonWrapper{
    display:flex;
    justify-content: center;
    align-items: center;

}

button{
    position: absolute;
    bottom:3em;
    border-radius:30px;
    background-color:white;
    font-size:1em;
    padding:1em 7.5em;
    height:50px;
    color:#CC2229;
    font-weight: bold;
    border:none;
    cursor:pointer;
}