

body{
    background-color: white;
}

.hWrapper h2{
    
}

.container{
    display: flex;
    align-items: center;
    border-bottom: solid 1px grey;
    padding: 0.5em;
}

a{
    text-decoration: none;
    color:black;
    cursor: pointer;
}

.container figure{
    width: 20%;
}

.container figure img{
    width: 100%;
}

.container section{
    margin-left: 1em;
}
#segmentedWrapper
{
    background-color: rgb(242, 242, 242);
    padding: 0.7em;
}

.segmented-control {
    display:flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-top: 1;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    
}

	.segmented-control__item {
        width:50%;
		margin: 0;
		padding-top: 1;
        list-style-type: none;
        
	}

		.segmented-control__input {
			position: absolute;
            visibility: hidden;
    
		}

		.segmented-control__label {
			display: block;
			margin: 0 -1px -1px 0; /* -1px margin removes double-thickness borders between items */
            padding: 0.35em;

            border: 1px solid #ddd;

            font-family: 14px/1.5 "Bahnschrift";
            text-align: center;
            font-weight: bold; 
            
			cursor: pointer;
		}

		.segmented-control__label:hover {
			background: #fafafa;
		}

		.segmented-control__input:checked + .segmented-control__label {
			background: white;
            color: #333; 
            border-radius: 10px;
		}
  