.container{
    display:flex;
    align-items: center;
    border-bottom:solid 1px grey;
    padding:1em;
}

main section{
    margin-left:1em;
    margin-right:7.5em;
    width:20%;
}

main figure{
    width:20%;
}

main figure img{
    width:100%;
}

.numberCircle{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    justify-self: end;
}