* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bahnschrift", sans-serif;

}

body {
    background-color: grey;
}


#swipeNav {
    line-height: 0;
}

#swipeNav ul {
    padding: 1em;
    padding-top: 2em;

}

#swipeNav li {
    border: none;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
}

#swipeNav li:last-of-type {
    margin-top: 17.5em;
}

#figureWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#figureWrapper figure {
    width: 40%;
    padding-top: 2em;
}

#figureWrapper figure img {
    width: 100%;
}

header {
    position: relative;
}


#wrapper header {
    background-color: #cc222a;
    height: 88px;
}


#topWrapper {
    padding: 1em;
    padding-top: 3em;
    display: flex;
    justify-content: space-between;
    color: white;

}

h2 {
    text-transform: uppercase;
    text-align: center;
}

.pWrapper {
    text-align: right;
}

main {
    background-image: url(../img/bane-til-mockup4-web.png);
    width: 375px;
    height: 724px;
}

#angreb {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 150px;
}

#midtbane {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 64px;
}

#forsvar {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 54px;
}

#forsvarvalgt {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}

#maalmand {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 42px;
}

#maalmandvalgt {
display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 28px
}

.spiller {
    width: 64px;
    margin: 0px 8px;
}

.spiller img {
    width: 100%;
}

#bund-knapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 42px;
}

.bundknap {
    margin: 0 20px;
}

#placering {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 54px;
    background-color: white;
}

#placering h2 {
    margin-left:15px;
    font-size: 20px;
}

#placering a {
    margin-right: 15px;
}

.spiller p {
    color: white;
    text-shadow:1px 1px black;
    font-size: 12px;
}

#holdvalgt {
    background-image: url(../img/bane-til-mockup6-web.png);
    width: 375px;
    height: 675px;  
}